<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSjKot4qeGCsQB9yKPV0a47Um3ykPP0aA</string>
	<key>GCM_SENDER_ID</key>
	<string>104874177373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.eventistan</string>
	<key>PROJECT_ID</key>
	<string>eventistan-s7yh0u</string>
	<key>STORAGE_BUCKET</key>
	<string>eventistan-s7yh0u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104874177373:ios:3cb63a1289d901f2feaeb4</string>
</dict>
</plist>